* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .nonFixHeader {
    background-color: #f1f1f1;
    padding: 10px 50px 3px 50px;
    display: flex;
  }
  #socialMed {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socialTaget {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  .address {
    display: flex;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .address a {
    text-decoration: none;
    font-size: 20px;
    color: #808080;
  }
  #facebook :hover {
    color: #3b5999;
  }
  #twitter :hover {
    color: #55adef;
  }
  #google :hover {
    color: #f36957;
  }
  #youtube :hover {
    color: #dd4b39;
  }
  .address :hover {
    color: black;
  }
  #located :hover {
    color: #55adef;
  }
  /*  */
  .stickyHeader {
    display: block;
    margin: 10px 50px 10px 50px;
    border-bottom: 2px solid #e1e1e1;
    background-color: white;
  }
  #search {
    font-size: 1em;
  }

  /* Dropdown Container */
  .dropdown {
    position: absolute;
    top: 20px;
    background-color: white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears on top of other elements */
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
    border: none;
    top: 30px;
    width: 626px;
  }

  /* Dropdown Items */
  .dropdown li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  /* Highlight Selected Item */
  .dropdown li.selected,
  .dropdown li:hover {
    background-color: #f0f0f0;
    width: 626px;
  }

  /* Product Image in Dropdown */
  .product-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
  }

  /* No Products Found Message */
  .dropdown li:not(.selected) {
    color: #888;
  }

  .flexSticky {
    display: flex;
    top: 0px;
  }
  #logo {
    display: flex;
    gap: 2px;
  }
  #logo a {
    text-decoration: none;
    font-size: 20px;
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo span {
    font-size: 50px;
    font-weight: bold;
  }
  #cheap {
    color: #17df0a;
  }
  .searchHeader {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .tag {
    display: flex;
    gap: 15px;
  }
  .tag a {
    text-decoration: none;
    font-size: 18px;
    color: #808080;
    cursor: pointer;
  }
  .tag :hover {
    color: black;
    text-decoration: underline;
  }
  .toolMember {
    display: flex;
    gap: 10px;
  }
  #boderIconPerson {
    width: 36px;
    height: 36px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #808080;
    font-size: 20px;
  }
  .account :hover {
    color: black;
  }
  .account a {
    text-decoration: none;
    font-size: 20px;
    color: #808080;
  }
  .account a :hover {
    color: black;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .cart {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #808080;
    font-size: 20px;
  }
  .cart :hover {
    color: black;
  }
  .cart a {
    text-decoration: none;
    font-size: 20px;
    color: #808080;
  }
  .cart a :hover {
    color: black;
  }
  #boderIconCart {
    width: 36px;
    height: 36px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* end header */
  img {
    width: 100%;
    height: 100%;
  }
  #underBanner {
    margin: 3px 50px 20px 50px;
  }
  /* end banner */
  #filter {
    margin: 0px 50px;
  }
  #allSort {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .filter-button {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
  }
  .filter-button:hover {
    background-color: #3e8d40;
  }
  .dropdown-menu {
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    z-index: 1;
  }
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-menu li:hover {
    background-color: lightgray;
    backdrop-filter: blur(0px);
  }
  .filter-summary {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  #deletefilter {
    display: flex;
    gap: 10px;
  }
  #deletefilter button {
    border: none;
    color: white;
    background-color: rgb(96, 179, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  #deleteAllFil {
    border: none;
    color: white;
    background-color: rgb(96, 179, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .product-list {
    margin-top: 20px;
    border-top: 2px solid #808080;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 10px;
  }
  .product-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .container {
    margin-top: 20px;
    border-top: 2px solid #808080;
    padding-top: 20px;
  }
  /* container */
  .khungSanPham {
    width: 100%;
    margin: 50px 0px;
    border-radius: 5px;
  }
  #khungDoUong {
    border: 2px solid #42bcf4;
  }
  .tenKhung {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    border-radius: 1em;
    color: white;
    transform: translateY(-0.75em);
  }
  #ghDoUong {
    background-image: linear-gradient(
      120deg,
      #42bcf4 0%,
      #004c70 50%,
      #42bcf4 100%
    );
  }

  .ghTag {
    background-image: linear-gradient(
      120deg,
      #d942f4 0%,
      #49003e 50%,
      #f442eb 100%
    );
    text-align: center;
    font-size: 2em;
    border-radius: 1em;
    color: white;
    transform: translateY(-0.75em);
    padding: 10px;
  }
  .seeALL button {
    border: none;
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: #888;
    background-color: #eee;
    transition-duration: 0.2s;
    transform: translateY(1em);
  }
  #allDoUong button {
    border-left: 2px solid #42bcf4;
    border-right: 2px solid #42bcf4;
  }
  #khungBanhKeo {
    border-color: #ff9c00;
    border: 2px solid #ff4d00;
  }
  #khungTag {
    border-color: #aa00ff;
    border: 2px solid #aa00ff;
  }
  #dhBanKeo {
    background-image: linear-gradient(
      120deg,
      #ff9c00 0%,
      #ec1f1f 50%,
      #ff9c00 100%
    );
  }
  .divTag {
    margin-top: 50px;
    padding: 0px 50px;
  }
  #allBanhKeo button {
    border-left: 2px solid #ff9c00;
    border-right: 2px solid #ff9c00;
  }
  #khungGiaDung {
    border-color: #5de272;
    border: 2px solid #2d7a39;
  }
  #dhGiaDung {
    background-image: linear-gradient(
      120deg,
      #5de272 0%,
      #007012 50%,
      #5de272 100%
    );
  }
  #allGiaDung button {
    border-left: 2px solid #5de272;
    border-right: 2px solid #5de272;
  }
  #khungThucPham {
    border-color: #f4ce91;
    border: 2px solid #ffdd00;
  }
  #dhThucPham {
    background-image: linear-gradient(
      120deg,
      #f4ce91 0%,
      #ffdd00 50%,
      #f4ce91 100%
    );
  }
  #allThucPham button {
    border-left: 2px solid #f4ce91;
    border-right: 2px solid #f4ce91;
  }
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  .list a {
    text-decoration: none;
    color: black;
  }
  #item {
    width: 250px;
    padding-bottom: 40px;
  }
  #item h4 {
    overflow: hidden;
    margin-top: 10px;
  }
  .img {
    width: 290px;
    height: 350px;
  }
  #price {
    color: rgb(239, 65, 65);
    font-weight: bold;
  }
  .mapProduct {
    position: relative;
  }
  #add {
    position: absolute;
    right: 0xp;
    bottom: 0px;
    border: none;
    background-color: #fff;
  }
  #add:hover {
    background-color: #f5f5f5;
  }
  /* end filter */
  /* footer */
  #footer {
    background-color: #252b33;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerConTent {
    margin: 0px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  .footer1 {
    flex: 1;
    border-right: 1px solid #808080;
  }
  .footer1 p {
    color: white;
    font-size: 16px;
  }
  .footer2 {
    flex: 1;
    color: white;
    display: flex;
    font-size: 16px;
    border-right: 1px solid #808080;
  }
  .footer3 {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border-right: 1px solid #808080;
  }
  .footer3 a {
    color: rgb(105, 117, 250);
    text-decoration: none;
  }
  .footer4 {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  #mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  /* end footer */
  #scroll {
    position: fixed;
    right: 50px;
    bottom: 30px;
  }
  /* end scroll */
  #loginForm {
    width: 40%;
    margin: 0 auto;
    gap: 15px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: large;
    position: relative;
    top: 50px;
  }
  #inputEmail input {
    font-size: 1em;
    width: 100%;
    height: 40px;
  }
  #inputEmail {
    display: flex;
    font-size: 1em;
  }
  #input_password {
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  #btn_signIn {
    width: 100%;
    height: 40px;
    background-color: #17df0a;
    color: #ffffff;
    text-align: center;
    font-size: large;
    border: none;
    margin-top: 10px;
  }
  #btn_signUp {
    width: 100%;
    height: 40px;
    background-color: #17df0a;
    color: #ffffff;
    text-align: center;
    font-size: large;
    border: none;
    margin-top: 10px;
  }
  .signWith {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-size: medium;
    border: 1px solid #302aaf;
  }
  #or {
    margin: 0 auto;
  }

  .chinhSach {
    width: 70%;
    margin: 0 auto;
    padding: 30px 1px;
    font-size: 1.5em;
  }
  .chinhSach h3 {
    background-color: #ffc0cc;
    margin-bottom: 20px;
    padding: 5px;
  }
  #showDetail {
    width: 100%;
    padding: 0px 50px;
  }
  #showDetail #main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
  }
  .cartImg {
    width: 400px;
    height: auto;
  }
  .addToCart {
    width: 40%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .moTa {
    width: 25%;
  }
  .addToCart h3 {
    color: red;
  }
  .addToCart .policy {
    display: flex;
  }
  .policy p {
    margin-left: 10px;
  }
  .policy {
    border: 1px solid #cacaca;
    padding: 10px;
  }
  .info li {
    list-style: none;
    border-top: 1px solid #cacaca;
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  .info li p {
    clear: both;
    width: 40%;
    float: left;
    margin: 5px 0;
  }
  .info li div {
    width: 60%;
    float: left;
    margin: 5px 0;
  }
  .moTa h2 {
    text-align: center;
  }
  .moTa {
    padding: 5px;
    border: 1px solid #cacaca;
    height: fit-content;
  }
  .addToCart button {
    background: -webkit-linear-gradient(
      top,
      hsl(35, 100%, 48%),
      hsl(22, 98%, 55%)
    );
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
  }
  .addToCart button:hover {
    background: -webkit-linear-gradient(
      top,
      hsl(35, 100%, 58%),
      hsl(22, 98%, 65%)
    );
  }
  .addToCart button:disabled {
    background: #cccccc;
    cursor: not-allowed;
  }
  .addToCart button:active {
    background: -webkit-linear-gradient(
      top,
      hsl(35, 100%, 68%),
      hsl(22, 98%, 75%)
    );
    transform: translateY(2px);
  }
  .addToCart button div {
    display: flex;
    justify-content: center;
  }
  #recomment {
    margin-top: 50px;
    padding: 0px 50px;
  }

  .khungSanPham {
    width: 100%;
    margin: 50px 0;
    border-radius: 5px;
    border: 2px solid #434aa8;
    box-sizing: border-box;
  }
  .khungSanPham h3.tenKhung {
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
  }
  #goiYSP {
    background-image: linear-gradient(
      120deg,
      #434aa8 0%,
      #ec1f1f 50%,
      #434aa8 100%
    );
    text-align: center;
    font-size: 2em;
    border-radius: 1em;
    color: white;
    transform: translateY(-0.75em);
    padding: 10px;
  }
  .listRecomment {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #boderIconPerson {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
  }

  .toolMember .account {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .toolMember .account span {
    margin-left: 8px;
  }

  .cart {
    display: flex;
    align-items: center;
  }

  #cart {
    padding: 7px 50px;
    margin-bottom: 60px;
  }
  .cartContainer {
    display: flex;
    flex-direction: row;
  }
  .thongTinThanhToan {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .thongTinThanhToan label {
    display: block;
    font-size: 1.2em;
  }
  .thongTinThanhToan input {
    padding: 5px;
  }
  .listInCart {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  th,
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: hsl(121, 90%, 80%);
  }
  table button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  #btnThanhToan {
    padding: 5px 10px;
    border: none;
    background-color: hsl(122, 39%, 49%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #btnThanhToan:hover {
    background-color: hsl(122, 39%, 60%);
  }
  #delAll {
    padding: 5px 10px;
    border: none;
    background-color: hsl(0, 100%, 65%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #delAll:hover {
    background-color: hsl(0, 100%, 80%);
  }
  #hasItem {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1.5em;
  }
  #hasItem p {
    text-align: center;
    font-size: 1.5em;
  }
  #hasItem button {
    padding: 5px 10px;
    border: none;
    background-color: hsla(200, 100%, 74%, 0.843);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #hasItem button:hover {
    background-color: hsla(200, 100%, 84%, 0.843);
  }

  #isLogged {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1.5em;
  }
  #isLogged p {
    text-align: center;
    font-size: 1.5em;
  }
  #isLogged button {
    padding: 5px 10px;
    border: none;
    background-color: hsla(200, 100%, 74%, 0.843);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #isLogged button:hover {
    background-color: hsla(200, 100%, 84%, 0.843);
  }
  .profile-container {
    margin: 60px 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  .profile-container h1 {
    text-align: center;
    font-size: 2em;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5em;
    width: 60%;
    margin: 0 auto;
  }
  .info-item span {
    float: inline-end;
  }
  .info-item {
    border-bottom: 1px solid #ccc;
  }
  #edit {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 10px;
    border: none;
    background-color: hsl(200, 100%, 74%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #edit:hover {
    background-color: hsla(200, 100%, 84%, 0.906);
  }

  .profile-actions {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  #save {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 10px;
    border: none;
    background-color: hsla(130, 100%, 74%, 0.885);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #save:hover {
    background-color: hsla(130, 100%, 84%, 0.906);
  }
  #cancel {
    margin-left: 10px;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 10px;
    border: none;
    background-color: hsl(0, 100%, 65%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #cancel:hover {
    background-color: hsla(0, 100%, 80%, 0.906);
  }
  .inpEdit {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .info-item input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  #item .img {
    width: 250px;
    height: 300px;
  }
  #regis {
    width: 40%;
    margin: 0 auto;
    gap: 15px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: large;
    position: relative;
    top: 50px;
  }
  #regis input {
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  .labelRegis {
    margin-top: 10px;
  }
  #regis button {
    width: 100%;
    height: 40px;
    background-color: hsl(116, 91%, 46%);
    color: #ffffff;
    text-align: center;
    font-size: large;
    border: none;
    margin-top: 10px;
  }
  #regis button:hover {
    background-color: hsl(116, 91%, 56%);
  }
  #regis button:active {
    background-color: hsl(116, 91%, 66%);
  }
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
@media (max-width: 768px) {
  .nonFixHeader {
    display: none;
  }
  .listRecomment {
    display: flex;
    flex-wrap: wrap;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media (max-width: 1300px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  #loginForm {
    width: 80%;
  }
  #regis {
    width: 80%;
  }
  .searchHeader {
    display: none;
  }
  .flexSticky {
    justify-content: space-between;
  }
  .listRecomment {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .cartImg {
    width: 200px;
    height: 200px;
  }
  .addToCart button {
    font-size: 1em;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
