* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .nonFixHeader {
    background-color: #eb3637;
    padding: 10px 50px 3px 50px;
    display: flex;
    color: #ffffff;
  }

  .address {
    display: flex;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .address a {
    text-decoration: none;
    font-size: 20px;
    color: #808080;
  }
  .address :hover {
    color: black;
  }
  #located :hover {
    color: #55adef;
  }
  /*  */
  .stickyHeader {
    display: block;
    padding: 10px 50px 10px 50px;
    border-bottom: 2px solid #e1e1e1;
    background-color: #eb3637;
  }
  #search {
    font-size: 1em;
    width: 500px;
    height: 50px;
  }

  /* Dropdown Container */
  .dropdown {
    position: absolute;
    top: 20px;
    background-color: white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears on top of other elements */
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
    border: none;
    top: 30px;
    width: auto;
  }

  /* Dropdown Items */
  .dropdown li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  /* Highlight Selected Item */
  .dropdown li.selected,
  .dropdown li:hover {
    background-color: #f0f0f0;
    width: 626px;
  }

  /* Product Image in Dropdown */
  .product-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
  }

  /* No Products Found Message */
  .dropdown li:not(.selected) {
    color: #888;
  }

  .flexSticky {
    display: flex;
    top: 0px;
  }
  #logo {
    display: flex;
    gap: 2px;
  }
  #logo a {
    text-decoration: none;
    font-size: 20px;
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo span {
    font-size: 50px;
    font-weight: bold;
  }
  #cheap {
    color: #17df0a;
  }
  .searchHeader {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .toolMember {
    display: flex;
    gap: 10px;
  }
  #boderIconPerson {
    width: 36px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    color: #ffffff;
    font-size: 20px;
  }
  .account :hover {
    color: rgb(239, 255, 99);
  }
  .account a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
  }
  .account a :hover {
    color: rgb(239, 255, 99);
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .cart {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #808080;
    font-size: 20px;
  }
  .cart :hover {
    color: rgb(239, 255, 99);
  }
  .cart a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }
  .cart a :hover {
    color: rgb(239, 255, 99);
  }
  #boderIconCart {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* end header */

  /* footer */
  #footer {
    background-color: #fbfafa;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footerConTent {
    margin: 0px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  .footer1 {
    flex: 1;
    border-right: 1px solid rgb(140, 140, 140);
  }
  .footer1 p {
    color: rgb(140, 140, 140);
    font-size: 16px;
  }
  .footer2 {
    flex: 1;
    color: rgb(140, 140, 140);
    display: flex;
    font-size: 16px;
    border-right: 1px solid #808080;
  }
  .footer3 {
    flex: 1;
    color: rgb(140, 140, 140);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border-right: 1px solid #808080;
  }
  .footer3 a {
    color: rgb(105, 117, 250);
    text-decoration: none;
  }
  .footer4 {
    flex: 1;
    color: rgb(140, 140, 140);
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  #mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  /* end footer */
  #scroll {
    position: fixed;
    right: 50px;
    bottom: 30px;
  }
  /* end scroll */
  #loginForm {
    width: 40%;
    margin: 0 auto;
    gap: 15px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: large;
    position: relative;
    top: 50px;
  }
  #inputEmail input {
    font-size: 1em;
    width: 100%;
    height: 40px;
  }
  #inputEmail {
    display: flex;
    font-size: 1em;
  }
  #input_password {
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  #btn_signIn {
    width: 100%;
    height: 40px;
    background-color: #17df0a;
    color: #ffffff;
    text-align: center;
    font-size: large;
    border: none;
    margin-top: 10px;
  }
  #btn_signUp {
    width: 100%;
    height: 40px;
    background-color: #17df0a;
    color: #ffffff;
    text-align: center;
    font-size: large;
    border: none;
    margin-top: 10px;
  }
  .signWith {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    font-size: medium;
    border: 1px solid #302aaf;
  }
  #or {
    margin: 0 auto;
  }

  .chinhSach {
    width: 70%;
    margin: 0 auto;
    padding: 30px 1px;
    font-size: 1.5em;
  }
  .chinhSach h3 {
    background-color: #ffc0cc;
    margin-bottom: 20px;
    padding: 5px;
  }

  .cartImg {
    width: 400px;
    height: auto;
  }
  .addToCart {
    width: 40%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #boderIconPerson {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .toolMember .account {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .toolMember .account span {
    margin-left: 8px;
  }

  .cart {
    display: flex;
    align-items: center;
  }

  #cart {
    padding: 7px 50px;
    margin-bottom: 60px;
  }
  .cartContainer {
    display: flex;
    flex-direction: row;
  }
  .thongTinThanhToan {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .thongTinThanhToan label {
    display: block;
    font-size: 1.2em;
  }
  .thongTinThanhToan input {
    padding: 5px;
  }
  .listInCart {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #isLogged {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1.5em;
  }
  #isLogged p {
    text-align: center;
    font-size: 1.5em;
  }
  #isLogged button {
    padding: 5px 10px;
    border: none;
    background-color: hsla(200, 100%, 74%, 0.843);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #isLogged button:hover {
    background-color: hsla(200, 100%, 84%, 0.843);
  }
  #item .img {
    width: 250px;
    height: 300px;
  }
  #regis {
    width: 40%;
    margin: 0 auto;
    gap: 15px;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: large;
    position: relative;
    top: 50px;
  }
  #regis input {
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  .labelRegis {
    margin-top: 10px;
  }
  #regis button {
    width: 100%;
    height: 40px;
    background-color: hsl(116, 91%, 46%);
    color: #ffffff;
    text-align: center;
    font-size: large;
    border: none;
    margin-top: 10px;
  }
  #regis button:hover {
    background-color: hsl(116, 91%, 56%);
  }
  #regis button:active {
    background-color: hsl(116, 91%, 66%);
  }
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 1300px) {
  #loginForm {
    width: 80%;
  }
  #regis {
    width: 80%;
  }
  .searchHeader {
    display: none;
  }
  .flexSticky {
    justify-content: space-between;
  }
  .cartImg {
    width: 200px;
    height: 200px;
  }
  .addToCart button {
    font-size: 1em;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
.navbar {
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #393a44;
}
.navbar span {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  line-height: 55px;
}

.navbar span:hover {
  color: hsl(60, 92%, 72%);
}
.banner {
  margin: 0px 50px;
}

.banner-item {
  width: 30%;
  height: 150px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.product-new {
  margin: 20px 50px;
  border-bottom: 1px solid hsl(0, 0%, 53%);
}

.product-new h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0f1959;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-new button {
  border: 2px solid hsl(0, 100%, 61%);
  border-radius: 50px;
  padding: 20px;
  color: hsl(0, 100%, 61%);
  font-size: 1.5em;
  margin: 20px;
  text-align: center;
}

.product-item {
  width: 200px;
  height: 250px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f2f2f2;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section p {
  font-weight: bold;
}
