* {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.chinhSach {
  width: 70%;
  margin: 0 auto;
  padding: 30px 1px;
  font-size: 1.5em;
}
.chinhSach h3 {
  background-color: #ffc0cc;
  margin-bottom: 20px;
  padding: 5px;
}
#showDetail {
  width: 100%;
  padding: 0px 50px;
}
#showDetail #main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0px;
}
.cartImg {
  width: 15%;
}
.addToCart {
  width: 40%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.moTa {
  width: 25%;
}
.addToCart h3 {
  color: red;
}
.addToCart .policy {
  display: flex;
}
.policy p {
  margin-left: 10px;
}
.policy {
  border: 1px solid #cacaca;
  padding: 10px;
}
.info li {
  list-style: none;
  border-top: 1px solid #cacaca;
  font-size: 1.5em;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.info li p {
  clear: both;
  width: 40%;
  float: left;
  margin: 5px 0;
}
.info li div {
  width: 60%;
  float: left;
  margin: 5px 0;
}
.moTa h2 {
  text-align: center;
}
.moTa {
  padding: 5px;
  border: 1px solid #cacaca;
  height: fit-content;
}
.addToCart button {
  background: -webkit-linear-gradient(
    top,
    hsl(35, 100%, 48%),
    hsl(22, 98%, 55%)
  );
  color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}
.addToCart button:hover {
  background: -webkit-linear-gradient(
    top,
    hsl(35, 100%, 58%),
    hsl(22, 98%, 65%)
  );
}
.addToCart button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}
.addToCart button:active {
  background: -webkit-linear-gradient(
    top,
    hsl(35, 100%, 68%),
    hsl(22, 98%, 75%)
  );
  transform: translateY(2px);
}
.addToCart button div {
  display: flex;
  justify-content: center;
}
#recomment {
  margin-top: 50px;
  padding: 0px 50px;
}

.khungSanPham {
  width: 100%;
  margin: 50px 0;
  border-radius: 5px;
  border: 2px solid #434aa8;
  box-sizing: border-box;
}
.khungSanPham h3.tenKhung {
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
}
#goiYSP {
  background-image: linear-gradient(
    120deg,
    #434aa8 0%,
    #ec1f1f 50%,
    #434aa8 100%
  );
  text-align: center;
  font-size: 2em;
  border-radius: 1em;
  color: white;
  transform: translateY(-0.75em);
  padding: 10px;
}
.listRecomment {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}
#boderIconPerson {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
}

.toolMember .account {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toolMember .account span {
  margin-left: 8px;
}

.cart {
  display: flex;
  align-items: center;
}

#cart {
  padding: 7px 50px;
  margin-bottom: 60px;
}
.cartContainer {
  display: flex;
  flex-direction: row;
}
.thongTinThanhToan {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.thongTinThanhToan label {
  display: block;
  font-size: 1.2em;
}
.thongTinThanhToan input {
  padding: 5px;
}
.listInCart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid #ccc;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: hsl(121, 90%, 80%);
}
table button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
#btnThanhToan {
  padding: 5px 10px;
  border: none;
  background-color: hsl(122, 39%, 49%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#btnThanhToan:hover {
  background-color: hsl(122, 39%, 60%);
}
#delAll {
  padding: 5px 10px;
  border: none;
  background-color: hsl(0, 100%, 65%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#delAll:hover {
  background-color: hsl(0, 100%, 80%);
}
#hasItem {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 1.5em;
}
#hasItem p {
  text-align: center;
  font-size: 1.5em;
}
#hasItem button {
  padding: 5px 10px;
  border: none;
  background-color: hsla(200, 100%, 74%, 0.843);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#hasItem button:hover {
  background-color: hsla(200, 100%, 84%, 0.843);
}

#isLogged {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 1.5em;
}
#isLogged p {
  text-align: center;
  font-size: 1.5em;
}
#isLogged button {
  padding: 5px 10px;
  border: none;
  background-color: hsla(200, 100%, 74%, 0.843);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#isLogged button:hover {
  background-color: hsla(200, 100%, 84%, 0.843);
}
.profile-container {
  margin: 60px 50px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.profile-container h1 {
  text-align: center;
  font-size: 2em;
}
.profile-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5em;
  width: 60%;
  margin: 0 auto;
}
.info-item span{
  float: inline-end;
}
.info-item{
  border-bottom: 1px solid #ccc;
}
#edit{
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 10px;
  border: none;
  background-color: hsl(200, 100%, 74%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#edit:hover{
  background-color: hsla(200, 100%, 84%, 0.906);
}

.profile-actions{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#save{
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 10px;
  border: none;
  background-color: hsla(130, 100%, 74%, 0.885);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#save:hover{
  background-color: hsla(130, 100%, 84%, 0.906);
}
#cancel{
  margin-left: 10px;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 10px;
  border: none;
  background-color: hsl(0, 100%, 65%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#cancel:hover{
  background-color: hsla(0, 100%, 80%, 0.906);
}
.inpEdit{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-item input{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}